- content_for(:title, "Home")
- content_for(:page_heading) do
  %header.main
    %h3.content Top Businesses
%div.business-index
  %ul
    = render @businesses
%div
  = will_paginate @businesses, renderer: WillPaginate::ActionView::BootstrapLinkRenderer

