- content_for(:title, "Home")
- content_for(:page_heading) do
  %header.main
    %h3.content Top Businesses
%div.business-index
  %ul
    %li
      %div.business-body
        %div.business-left
          = link_to("#") do
            %h3 Business Title OF Carnegie Melon Melons and Pancakes
          %div.business-review-summary
            %div.stars.stars-show.stars-show-35
            %span 183 reviews
            %p
              £££ - 
              %span Takeaway
              %span Fast Food
              %Span Burgers
        %div.business-right
          %div.business-address
            %p.address.line-1 Address Line 1
            %p.address.city Swindon, PCODE
            %p.address.phone 0207-777-6452
      %div.description
        %p
          Lorem ipsum text lorem ipsum text lorem pisum text Lorem ipsum text lorem ipsum text lorem pisum text Lorem ipsum text lorem ipsum text lorem pisum text Lorem ipsum text lorem ipsum text lorem pisum text Lorem ipsum text lorem ipsum text lorem pisum text
      %li
        %div.business-body
          %div.business-left
            = link_to("#") do
              %h3 Another Business Here Selling Cars
            %div.business-review-summary
              %div.stars.stars-show.stars-show-0
              %span 0 reviews
              %p
                £ - 
                %span Audi
                %span Mercedes
                %Span Cars
          %div.business-right
            %div.business-address
              %p.address.line-1 Address Line 1
              %p.address.city Swindon, PCODE
              %p.address.phone 0207-777-6452
        %div.description
          %p
            Lorem ipsum text lopsum text lorem ipsum text lorem pisum text Lorem ipsum text lorem ipsum text lorem pisum text
      %li
        %div.business-body
          %div.business-left
            = link_to("#") do
              %h3 Third Business
            %div.business-review-summary
              %div.stars.stars-show.stars-show-50
              %span 1 reviews
              %p
                ££££ - 
                %span Kebabs
                %span Fast Food
                %Span Chicken
          %div.business-right
            %div.business-address
              %p.address.line-1 Address Line 1
              %p.address.city Swindon, PCODE
              %p.address.phone 0207-777-6452
        %div.description
          %p
            Lorem ipsum text lopsum text lorem ipsum text lorem pisum text Lorem ipsum text lorem ipsum text lorem pisum text

