- content_for(:title, "Login")
%div#login-page
  %div.login-right
  %div.login-left
    %form
      %h3 Log in to Yelp
      %p
        New to Yelp?
        =link_to "Sign Up", "#"
      %fieldset
        %input(type='email' placeholder='Email')
        %input(type='password' placeholder='Password')
      %button(type='submit') Log In
      %div
        %small
          New to Yelp?
          =link_to "Sign Up", "#"


