div#new_business
  div.login-left
    form#add_new_business
      fieldset
        select
          height: auto
          max-height: 200px
          overflow-y: scroll
        input[type]
          margin-bottom: 10px